.chat-container {
  border: 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.media-chat.media-chat-reverse {
  padding: 0 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  display: flex;
  font-weight: bold;
  margin: 20px 0;
}

.media-chat.media-chat-start {
  padding: 0 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  align-items: flex-start;
  display: flex;
  font-weight: bold;
  margin: 20px 0;
}

.chat-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}

.Chat {
  height: 80vh;
}

.input-chat {
  border: 1px solid;
}

.chat-reverse {
  background-color: #0084ff;
  padding: 15px;
  border-radius: 10px;
}

.chat-start {
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
}
